<a href="https://colab.research.google.com/github/sweetmjkim/study_temps/blob/main/initial_myungjun.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("github")

github

In [ ]:
# 여긴 화면 출력 명령어
print("안녕하세요. 첫 개발 시작입니다.") # 안녕. 출력

안녕하세요. 첫 개발 시작입니다.

In [ ]:
# quest 1
print("김명준은 데이터 엔지니어 양성과정을 듭습니다.")

김명준은 데이터 엔지니어 양성과정을 듭습니다.

In [ ]:
# 숫자화된 문자 출력 with 상수
print("4 + 5")

4 + 5

In [ ]:
# 숫자 with 상수
print(4 + 5)

9

In [ ]:
# 숫자화된 문자 출력 with 변수
numberwithval = "4 + 5"
print(numberwithval)

4 + 5

In [ ]:
# quest 2
# 숫자화된 문자 출력 with 변수
numberwithval = "40 + 50"
print(numberwithval)

40 + 50

In [ ]:
# 숫자화된 변수 출력 with 변수
numbers = numberwithval + " = 90" # 4 + 5 = 9
print(numbers)

40 + 50 = 90

In [ ]:
define_number = 10
numberwithval = numberwithval + str(define_number)
print(numberwithval)

40 + 5010

In [ ]:
# 데이터 타입이 숫자 with 변수
result = 4 + 5
print(result)

9

In [ ]:
# 두 수를 입력 받아 변수에 넣고 결과 출력
input = 4
inputtwo = 5
result = input + inputtwo
print(result)

9

In [ ]:
# 위에 내용 반복
input = 8
inputtwo = 9
result = input + inputtwo
print(result)

17